#cloud-config
# Konfigurasi Cloud-Init untuk inisialisasi VM

hostname: ${hostname}
fqdn: ${hostname}.localdomain
manage_etc_hosts: true

write_files:
  - path: /etc/netplan/50-cloud-init.yaml
    content: |
      network:
          version: 2
          ethernets:
              mainif:
                  match:
                      name: "e*"
                  dhcp4: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${ssh_key}

# Update package saat boot pertama kali (opsional, bisa memperlambat boot pertama)
package_update: true
package_upgrade: true

# Instalasi paket tambahan jika diperlukan
packages:
  - qemu-guest-agent
  - net-tools
  - curl

# Menjalankan command setelah inisialisasi selesai
runcmd:
  - netplan apply
  - systemctl enable --now qemu-guest-agent
  - [ sh, -c, "curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC='--write-kubeconfig-mode 644' sh -" ]
  - echo "Cloud-Init dan K3s installation selesai dijalankan pada $(date)" > /tmp/cloud-init-status.txt
